@font-face {
  font-family: 'titlefont';
  src: url('/newake.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: 'titlefont', sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  position: absolute;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: rgba(102, 102, 102, 0.189);
}

.title {
  position: absolute;
  display: flex;
  top: 30%;
  text-align: center;
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.2;
  color: rgb(255, 255, 255);
  font-family: 'titlefont', sans-serif;
  z-index: 1000;
}

.fa-info-circle {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  color: white;
  z-index: 1000;
}

#custom-scrollbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 5px;
  height: 100vh;
  background: rgba(0, 0, 0, 0);
}

#scrollbar-handle {
  position: relative;
  width: 100%;
  height: 10%;
  background: rgba(255, 255, 255, 0.5);
}

.explore-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  background: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.5em;
  border-radius: 15px;  /* Add rounded corners here. */
  transition: background-color 0.3s ease;
}

.explore-button:hover {
  background-color: blue;
  color: white;
}
